.header-fixed {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header-background {
  background-color: #fffdfa;
  color: #262626;
  box-shadow: 0px 5px 10px -5px #DCDCDC;
}

header li {
  list-style: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 54px;
  margin: 0px auto;
}

.header-logo {
  margin: auto 0;
}

.header-logo img {
  width: 50px;
  height: 50px;
  margin-top: 2px;
}

.header-list {
  margin: auto 0;
  padding: 0;
  width: 700px;
}

.header-list-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-list-ul ul {
  display: none;
  position: absolute;
}

.header-list-ul li:hover ul {
  display: block;
  z-index: 1000;
}

.header-list-a {
  font-weight: bold;
  font-size: 16px;
  color: #262626;
  text-decoration: none;
}

.header-biz-introduction {
  background-color: #fffdfa;
  box-shadow: 0px 0px 10px -5px gray;
  margin: 0;
  padding: 0;
}

.header-biz-introduction a {
  display: block;
  color: #262626;
  text-decoration: none;
  font-weight: bold;
  width: 160px;
  padding: 7px;
}

.header-activity-introduction {
  background-color: #fffdfa;
  box-shadow: 0px 0px 10px -5px gray;
  margin: 0;
  padding: 0;
}

.header-activity-introduction a {
  display: block;
  color: #262626;
  text-decoration: none;
  font-weight: bold;
  width: 160px;
  padding: 7px;
}

.header-mobile {
  display: none;
}

.breadcrumb-div {
  display: none;
}

.breadcrumb {
  width: 1000px;
  margin: 5px auto;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
  /*横に並ぶように*/
  list-style: none;
  font-weight: bold;
  /*太字*/
  font-size: 14px;
}

.breadcrumb li:after {
  /* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: #808080;
  /*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.header-top {
  margin-top: 55px;
}

@media (max-width: 1100px) {
  .header-container {
    display: none;
  }

  .header-mobile {
    z-index: 1000;
    background: #fffdfa;
    width: auto;
    height: 52px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .header-logo-mobile-div {
    margin-left: 2.5%;
  }

  .header-logo-mobile {
    height: 50px;
    width: 50px;
  }

  /* Nav items */
  .header-menu {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 52px;
    ;
    padding: 0;
    clear: both;
    background: #fffdfa;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
  }

  /* Hamburger menu button */
  .header-menu-btn:checked~.header-menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  /* Hamburger menbu text */
  .header-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #262626;
    opacity: 0;
    transition: 0.5s;
    padding: 15px 0;
  }

  .header-menu-btn:checked~.header-menu a,
  .header-menu-btn:checked~.header-menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }

  .header-menu-btn {
    display: none;
  }

  .header-menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 24px 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-right: 2.5%;
  }

  .header-navicon {
    background: #262626;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .header-navicon:before,
  .header-navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #262626;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .header-navicon:before {
    top: 9px;
  }

  .header-navicon:after {
    bottom: 9px;
  }

  /* Hamburger Menu Animation Start */
  .header-menu-btn:checked~.header-menu-icon .header-navicon:before {
    transform: rotate(-45deg);
  }

  .header-menu-btn:checked~.header-menu-icon .header-navicon:after {
    transform: rotate(45deg);
  }

  .header-menu-btn:checked~.header-menu-icon:not(.steps) .header-navicon:before {
    top: 0;
  }

  .header-menu-btn:checked~.header-menu-icon:not(.steps) .header-navicon:after {
    bottom: 0;
  }

  .header-menu-btn:checked~.header-menu-icon .header-navicon {
    background: #fffdfa;
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  /* Hamburger Menu Animation End */

  .header-top {
    margin-top: 52px;
  }

  .breadcrumb-div {
    display: none;
  }

}