.footer-background {
  background-color: rgb(45 127 111);
}

.footer-background h1 {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
}

.footer-background li {
  list-style: none;
}

.footer-container {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

.footer-profile {
  margin: 25px 0 15px;
  padding: 0;
  font-size: 12px;
  color: #FFFFFF;
  display: none;
}

.footer-content-list {
  display: flex;
  width: 700px;
  margin: 25px auto 15px;
  padding: 0;
  font-size: 12px;
}

.footer-content-list li {
  margin: 0 auto;

}

.footer-content-list a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-copyright {
  margin: 0 0 25px;
  text-align: center;
  color: #FFFFFF;
  font-size: 10px;
}

@media (max-width: 1100px) {

  .footer-container {
    width: auto;
  }
  .footer-copyright {
    margin: 0 0 1.8%;
  }

  .footer-content-list {
    width: 80%;
    margin: 1.8% auto 0.8%;
    flex-direction: column;
  }

  .footer-content-list li {
    margin: 0.3% auto;
  }
}

@media (max-width: 600px) {
  .footer-content-list a {
    font-size: 10px;
  }

  .footer-copyright {
    font-size: 8px;
  }
}